mixin slider_item( cls, img, txt, title, link )
   a( class='slider__item#{cls}' href='#{link}' alt='#{title}' )
      .slider__image
         img( src='../../assets/images/infrastructure/#{img}.svg')
      .slider__about !{txt}
