mixin slider_item( cls, title, txt, link )
   a( class='slider__item#{cls}' href='#{link}' target='_blank' alt='#{title}' )
      .slider__image
         img( src='../../assets/images/projects/#{title}.svg')
      .slider__about !{txt}
