mixin caption( image, h1, span, h2)
   case h2
      when ''
         main.page__caption.mt5.mb4
            .wrapper
               .page__image
                  img( src='../../assets/images/projects/#{image}.svg')
               .page__title.mt1
                  h1.mb2 !{h1}
                  .span !{span}
      default
         main.page__caption.mt5.mb4
            .wrapper
               .page__image
                  img( src='../../assets/images/projects/#{image}.svg')
               .page__title.mt1
                  h1.mb1 !{h1}
                  h2.mb2 !{h2}
                  .span !{span}

