mixin info-two( icon, number, text, icon2, number2, text2 )
   article.info__container.mb4
      .info__holder
         .info__icon( class='icon-#{icon}' )
         h1.info__number.text-white !{number}
         h2.info__title.text-white !{text}
      .info__holder
         .info__icon( class='icon-#{icon2}' )
         h1.info__number.text-white !{number2}
         h2.info__title.text-white !{text2}
