mixin person( status, f, i, o, position, image )
   section( area-label='#{f}' ).person__content
      .person__image
         img( src='../../assets/images/person/#{f}.jpg' alt='#{f}' )
      .person__text
         .person__status.mb4 !{status}
         .person__name !{f}
            br
            | !{i}
            br
            | !{o}
         .person__position !{position}

