mixin middle( span, class1, main, class2, span2, class3, class_main )
   article.info_block__text( class='#{class_main}')
      .span( class='#{class1}') !{span}
      h1( class='#{class2}') !{main}
      .span( class='#{class3}') !{span2}
