mixin federal_cell( title, image, text )
   section( aris-label='!{title}' ).tile_federal__cell
      a( href='./sections/federal_projects/#{image}.html' )
         .tile_federal__title
            span !{title}
         img.tile_federal__image( src='./assets/data/images/federal_tile/#{image}.jpg?v=1')
      .tile_federal__about
         .tile_federal__text !{text}
         a( href='./sections/federal_projects/#{image}.html' ).tile_federal__button.button_orange
            span Перейти
