mixin bottom( span, class1, main, class2, class_main )
   .info_block__text( class='#{class_main}')
      .info_block__text_span( class='#{class1}') !{span}
      .info_block__text_main( class='#{class2}') !{main}
