mixin top-bottom( main, class1, span,  class2, main2, class3, class_main )
   article.info_block__text( class='#{class_main}')
      h1.info_block__text_main( class='#{class1}') !{main}
      .info_block__text_span( class='#{class2}') !{span}
      h2.info_block__text_main( class='#{class3}') !{main2}
